.dfs-page {
  padding-left: 20px;
}
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
.blink {
  animation: blink 2s linear;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
